# Archivos de configuración con contraseñas
.env

# Archivos md
ESTILO.md
ESTRATEGIA_COMPONENTES.md
git-guia.md

# Carpetas de dependencias (nunca se suben a GitHub)
node_modules/

# Archivos temporales del sistema
.DS_Store
Thumbs.db